*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-family: Arial, Helvetica, sans-serif;
  
}
li,ol,li,a{
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
}

body{
  background-color: white;
}
.navv{
background: #140c6f;
display: flex;
justify-content: space-between;
align-items: center;
padding: 4px 8px;
padding-left: 1.5rem;
}
.navv a{
  color: white;
  padding: 0rem 1rem;
}

.logo{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.login-text{
  margin-top: 10px;
  padding: 0 0 0 15%;
  font-size: 1.4rem;
  color: #a7a4c9;
}
.login{
  margin-top: 10px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}
.brand-logo{
  display: flex;
justify-content: center;
margin-bottom: 36px;
}
.ham{

}
.form-box{
  border: 1px solid #c5c3dc;
padding: 2rem 4rem;
color: #140c6f;
border-radius: 15% 0;
margin-top: 2rem;
/* max-width: 100%; */
}
.form-box input[type="text"], .form-box input[type="password"]{
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 7px;
  margin-top: 0;
}

.forgot{
  font-size: 0.44rem;
}
.user-help{
  display: flex;
  justify-content: space-between;
}
input[type="checkbox"]{
  margin-right: 2%;
}
.log-bttn{
  display: flex;
  justify-content: center;
}
.bttn{
  background: #140c6f;
color: white;
padding: 0.6rem 6rem;
margin-top: 10%;
border-radius: 22px 0px;
border: none;
text-transform: uppercase;
}