@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Outfit:wght@100;200;300;400;500;600;800;900&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

$ff: "Poppins";
$primary-color: #2ba6cb;
// $fs-small: .7rem;
// $fs-normal: 1rem;
// $fs-med: 1.5rem;
// $fs-lg: 2rem;
// $fs-xl: 3rem;
html{
  font-size: 16px;
}
* {
  font-family: $ff;
  outline: none;
  box-sizing: border-box;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.main {
  position: relative;
  height: 100vh;
  width: 100%;

  .landing-outer {
    position: absolute;
    z-index: 9;
    border: 1px solid #ffffff52;
    transform: translateY(-50%);
    top: 50%;
    right: 7%;
    color: white;
    height: 465px;
    width: 360px;
    text-align: center;
  }

  .landing-inner {
    text-align: left;
    padding: 6rem 1rem 1rem 1rem;
h1{
    font-size: clamp(1rem, 5vw, 3rem);
      line-height: 1.25em;
    }
    h3 {
      font-size: clamp(0.7rem, 2vw, 1.5rem);
      padding: 1rem 0;
      width: 21ch;
      text-align: left;
      line-height: 1.5em;
    }
  }
  .background-main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./imagess/wSit.jpg") no-repeat center center/cover;
    position: absolute;
    inset: 0;
  }
}

.dwn-links {
  margin-top: 1rem;

  a {
    color: white;
    padding: 7px 1rem;
    border-radius: 11px;
    transition: 0.25s ease-in-out;
  }
}
.fa-brands {
  margin-right: 5px;
}

.ios-st {
  border: 1px solid black;
  background: black;
  margin-left: 10px;
  margin-left: 10px;
}
.play-st {
  border: 1px solid white;
  &:hover {
    background: black;
    color: white;
    border: 1px solid black;
  }
}

// howto section 
.howto {
  background: url("./imagess/travvy-hero.svg");
  height: 100vh;
  background-position: bottom;
  background-size: 1920px auto;


  .howto-content{
    max-width: 45ch;
    margin-left: auto;
    padding: 3rem;
    margin-right: 13rem;
    h3{
      font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 900;
    }
    p{
      font-size: clamp(0.7rem, 1.6vw, 1.3rem);
    }
    button{
      padding: 10px 2rem;
      border: none;
      background: blanchedalmond;
      border-radius: 20px;
      color: rgba(165, 42, 42, 0.67843);
    }
  }
}

// plan section
.plan {
  background: antiquewhite;
  padding-block: 2rem;
  height: 100vh;
}
.plan-outer {
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}
.dest-cards {
  padding: unset;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 320px;
  background: white;
  overflow: hidden;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 9px 15px 1px rgba(0, 0, 0, 0.19);
  }
  img {
    width: 100%;
    height: 160px;
  }
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: clamp(1.2rem, 2.79vw, 1.8rem);
  }
  #dest-details li {
    list-style-type: disclosure-open;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  }
  h3 {
    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
    font-weight: 900;
  }

  button {
    padding: 7px 1rem;
    border: none;
    background: blanchedalmond;
    border-radius: 20px;
    color: rgba(165, 42, 42, 0.6784313725);
    width: 90%;
    margin-top: 1rem;
    margin-inline: auto;
    transition: all .25s ease-in-out;
    &:hover{
      background-color: #f9877be8;
      color: white;
    }
  }
}
.dest-img::after {
  content: "";
  position: absolute;
  inset: 0;
}
.dest-img {
  position: relative;
}

.himachal {
  background: url("./imagess/himachal.jpg") center center/cover;
  height: 40%;
}
.kerala {
  background: url("./imagess/kerala.jpg") center center/cover;
  height: 40%;
}
.goa {
  background: url("./imagess/goa.jpg") center center/cover;
  height: 40%;
}
// .MP{
//   background: url('./imagess/himachal.jpg');

// }
.cards-bg {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
div#navbarNavAltMarkup {
  padding: 0.2rem 2rem;
}

.stick {
  position: fixed;
  top: 0;
  z-index: 1020;
  background: #f000 !important;
  transition: all 0.7s;
}

.scrolled {
  background: white !important;
  box-shadow: 0px 0px 25px #0000003d;
  position: fixed;
  top: 0;
  z-index: 1020;
  transition: all 0.7s;
}
.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

#navCont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar {
  padding: 5px 0;
  width: 100%;
}

#top-nav-links-cont a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: red;
  height: 1px;
  width: 80%;
  opacity: 0;
}
.navbar-brand {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: unset;
  img {
    width: 40px;
    border-radius: 50%;
  }
  span {
    color: white;
  }
}
#top-nav-links-cont a {
  color: white;
  position: relative;
}

#top-nav-links-cont a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: red;
  height: 1px;
  width: 0%;
  opacity: 1;
  transition: 0.25s;
}
#top-nav-links-cont a:hover:before {
  width: 80%;
}

.main-heading {
  position: absolute;
  z-index: 999;
  top: 50%;
  text-align: center;
  width: 90%;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);

  h3 {
    font-size: clamp(1rem, 2.5vw + 1rem, 6rem);
    font-weight: 200;
    text-transform: uppercase;
  }
  p {
    font-size: clamp(0.8rem, 2.5vw, 2.5rem);
    margin-top: 1rem;
  }
  h1 {
    font-size: clamp(2.5rem, 10vw + 1rem, 16rem);
    background-clip: text;
    background-size: auto;
    background-position: center;
    font-weight: 900;
    margin-top: -1rem;
    text-transform: uppercase;
    color: darkgray;
    -webkit-background-clip: text;
    text-shadow: 8px 6px 7px black;
  }
}

.exp {
  background: transparent;
  padding: 0.34rem 1.4rem;
  font-size: clamp(1rem, 2vw, 1.4rem);
  margin-top: 1rem;
  display: inline-block;
  border-radius: 5px;
  border: none;
  color: white;
  transition: all 0.25s;
  border: 1px solid white;
  float: right;

  &:hover {
    background: red;
    border: 1px solid red;
  }
}

.cards {
  margin-top: 50px;
}

.navbar-collapse {
  flex-basis: 100%;
  align-items: center;
  flex-grow: 0;
}
.nav-link {
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  margin: 0.2rem auto;
  padding: 0.5rem 1rem !important;
}

.carousel-item img {
  filter: brightness(69%);
}
/* main  */
.sec-content {
  width: 35ch;
  background-color: #fffbfbd1;
  width: 35ch;
  padding: 3rem;
  clip-path: polygon(0% 0%, 84% 0%, 99% 100%, 0% 88%, 0% 100%);
  color: black;
  transition: all 0.55s;
}
.sec-content h2 {
  font-size: clamp(2rem, 3vw, 3rem);
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 0;
}
.second {
  padding: 5rem 1rem;
  margin-top: 1rem;
  padding: 5rem 1rem;
  background: url("https://images.unsplash.com/photo-1599709266514-c19e5aade84a")
    no-repeat center center/cover;
  height: 50em;
  position: relative;
}
.sec-content p {
  margin: auto;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
}

/* footer */
.footer {
  background: #ffefdb;
  color: black;
  padding: 0.5rem 2rem;
  padding-bottom: 0;
  text-align: center;
}

.ftr {
  text-align: center;
  padding: 2rem 2rem;
}
.ftr h3 {
  margin-bottom: 1.5rem;
}
.soc-icons-cont {
  text-align: center;
}
.fab {
  font-weight: 400;
  padding: 0 6px;
  font-size: 2rem;
  transition: all 0.5s;
}

.fa-facebook:hover {
  color: #385499;
}

.fa-instagram:hover {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-twitter:hover {
  color: #00acee;
}

hr:not([size]) {
  height: 1px;
  width: 95%;
  margin-left: 20px 0 20px 0;
  margin-top: 11px;
  margin-bottom: 9px;
  margin-right: auto;
  margin-left: auto;
  background-color: #5b5959 !important;
}
.copyrightCont {
  padding-bottom: 10px;
}

/* media queries */
@media only screen and (min-width: 1200px) {
  .carousel-item img {
    height: 100vh;
  }
}
@media only screen and (max-width: 600px) {
  
  .main{
    .landing-outer{
      height: 280px;
      width: 66%;
    }
    .landing-inner {
      text-align: left;
      padding: 1rem;
  }
  .dwn-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    a {
    font-size: 10px;
    width: 60%;
    margin: 5px auto;
    padding: 7px 11px;
    }
  }
}
  #carouselExampleControls {
    margin-top: 3.8rem;
  }
  .sec-content {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    background: white;
  }
}
@media only screen and (max-width: 360px) {
  .navbar-toggler {
    position: absolute;
    right: 10px;
    top: 18px;
  }
  #navCont {
    justify-content: space-between !important;
  }
  .navbar-brand {
    margin-right: 5rem;
    height: 50px;
    width: 50px;
  }

  .navbar-toggler {
    top: 11px;
  }

  .main-heading p {
    font-size: 13px;
    line-height: 1.2em;
    margin-bottom: 0.5rem;
  }
  .exp {
  }

  .cards {
    margin-top: 1rem;
  }
}

/* .side-img img {
	clip-path: polygon(0% 50%, 100% 0%, 73% 51%, 99% 100%);
} */
@media (min-width: 1920px) {
  .main{
    .landing-outer{
      height: 80%;
      width: 36%;
    }
    .landing-inner {
      padding: 6rem 3rem 1rem 3rem;
  }
  h1{
    font-size: 96px;
  }
  h3{
    padding: 4rem 0;
    font-size: 40px;
  }
 }
 .dwn-links {
  margin-top: 7rem;
  a{
    padding: 1rem 2rem;
    border-radius: 28px;
    font-size: 2rem;
  }
}

  body {
    background-color: orange;
  }
}
