* {
	outline: none;
}
button:focus:not(:focus-visible) {
	outline: 0;
	box-shadow: none;
}
div#navbarNavAltMarkup {
	background: white;
	padding: 0.2rem 2rem;
	border-radius: 30px;
	box-shadow: deepskyblue 2px 2px 4px;
}

.stick {
	position: fixed;
	top: 0;
	z-index: 1020;
	background: #f000 !important;
	transition: all 0.7s;
}

.scrolled {
	background: white !important;
	position: fixed;
	top: 0;
	z-index: 1020;
	transition: all 0.7s;
}
.carousel-control-next,
.carousel-control-prev {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5%;
	padding: 0;
	color: #fff;
	text-align: center;
	background: 0 0;
	border: 0;
	opacity: 0.5;
	transition: opacity 0.15s ease;
}

#navCont {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: transparent !important;
}

.navbar {
	padding: 5px 0;
	width: 100%;
}
.navbar-brand {
	width: 55px;
	height: 55px;
	border-radius: 50%;
}
.navbar-brand img {
	border-radius: 50%;
}

.main-heading {
	position: absolute;
	z-index: 999;
	top: 50%;
	text-align: center;
	width: 90%;
	color: white;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-heading h1 {
	/* background: url("https://images.unsplash.com/photo-1590372648787-fa5a935c2c40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); */
	background-clip: text;
	background-size: auto;
	background-position: center;
	font-size: clamp(3rem, 15vw, 17rem);
	font-weight: 900;
	margin-top: -1rem;
	text-transform: uppercase;
	color: darkgray;
	-webkit-background-clip: text;
	text-shadow: 8px 6px 7px black;
}

.main-heading h3 {
	font-size: 6vw;

	font-weight: 200;
	text-transform: uppercase;
}
.main-heading p {
	font-size: 3.5vw;
	margin-top: 1rem;
}
.exp {
	background: transparent;
	padding: 0.34rem 1.4rem;
	font-size: clamp(1rem, 2vw, 1.4rem);
	margin-top: 1rem;
	display: inline-block;
	border-radius: 5px;
	border: none;
	color: white;
	transition: all 0.25s;
	border: 1px solid;
	float: right;
}
.exp:hover {
	background: red;
	border: none;
}

.cards {
	margin-top: 50px;
}

.navbar-collapse {
	flex-basis: 100%;
	align-items: center;
	flex-grow: 0;
}
.nav-link {
	transition: all 0.5s ease-in-out;
	border-radius: 20px;
	margin: 0.2rem auto;
	padding: 0.5rem 1rem !important;
}
.nav-link:hover {
	background: #1a1212;
	color: white !important;
}

.carousel-item img {
	filter: brightness(69%);
}
/* main  */
.sec-content {
	width: 35ch;
	background-color: #fffbfbd1;
	width: 35ch;
	padding: 3rem;
	clip-path: polygon(0% 0%, 84% 0%, 99% 100%, 0% 88%, 0% 100%);
	color: black;
	transition: all 0.55s;
}
.sec-content h2 {
	font-size: clamp(2rem, 3vw, 3rem);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem 0;
}
.second {
	padding: 5rem 1rem;
	margin-top: 1rem;
	padding: 5rem 1rem;
	background: url("https://images.unsplash.com/photo-1599709266514-c19e5aade84a")
		no-repeat center center/cover;
	height: 50em;
	position: relative;
}
.sec-content p {
	margin: auto;
	font-size: clamp(0.7rem, 2vw, 1.1rem);
}

/* footer */
.footer {
	background: #1e1d1d;
	color: white;
	padding: 0.5rem 2rem;
	padding-bottom: 0;
	margin-top: 20px;
	text-align: center;
}

.ftr {
	text-align: center;
	padding: 2rem 2rem;
}
.ftr h3 {
	margin-bottom: 1.5rem;
}
.soc-icons-cont {
	text-align: center;
}
.fab {
	font-weight: 400;
	padding: 0 6px;
	font-size: 2rem;
	transition: all 0.5s;
}

.fa-facebook:hover {
	color: #385499;
}

.fa-instagram:hover {
	color: transparent;
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background: -webkit-radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background-clip: text;
	-webkit-background-clip: text;
}
.fa-twitter:hover {
	color: #00acee;
}

hr:not([size]) {
	height: 1px;
	width: 95%;
	margin-left: 20px 0 20px 0;
	margin-top: 11px;
	margin-bottom: 9px;
	margin-right: auto;
	margin-left: auto;
	background-color: #5b5959 !important;
}
.copyrightCont {
	padding-bottom: 10px;
}

/* media queries */
@media only screen and (min-width: 1200px) {
	.carousel-item img {
		height: 100vh;
	}
}
@media only screen and (max-width: 600px) {
	#carouselExampleControls {
		margin-top: 3.8rem;
	}
	.sec-content {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

@media only screen and (max-width: 992px) {
	.navbar {
		background: white;
	}
}
@media only screen and (max-width: 360px) {
	.navbar-toggler {
		position: absolute;
		right: 10px;
		top: 18px;
	}
	#navCont {
		justify-content: space-between !important;
	}
	.navbar-brand {
		margin-right: 5rem;
		height: 50px;
		width: 50px;
	}

	.navbar-toggler {
		top: 11px;
	}

	.main-heading p {
		font-size: 13px;
		line-height: 1.2em;
		margin-bottom: 0.5rem;
	}
	.exp {
		font-size: 14px;
		padding: 3px 12px;
		margin-top: -2px;
	}

	.cards {
		margin-top: 1rem;
	}
}

/* .side-img img {
	clip-path: polygon(0% 50%, 100% 0%, 73% 51%, 99% 100%);
} */
