.wrapper{
    background: url('/practice\ pages/imagess/front-view-cyber-monday-shopping-cart-with-bags-copy-space@2x.png') center center/cover;
    height: 100vh;
}
.main-container{
        width: 80%;
        margin: auto;
        border: 1px solid white;
        padding: 20px;
    
}
.item-qty.white-qty {
	font-size: 0.5rem;
	background: white;
	color: black;
}
.item-qty {
	width: 20px;
	height: 20px;
	background: #E26A5A;
	display: flex;
	justify-content: center;
	align-items: center;
	border: navajowhite;
	border-radius: 4px;
	color: white;
	font-size: i;
}
